@charset "UTF-8";
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(76, 76, 209);
    font:normal 1.3em arial;
    
}
header{
    text-align: center;
    color:white;
}
section{
    background: white;
    border-radius:1px;
    padding:1rem;
    width:500px;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
}
div{
    text-align: center;
}
footer{
    color:white;
    text-align: center;
    font-style: italic;
}
